<template>
  <n-card :title="data.name" size="small" hoverable>
    <template #header-extra>
      <n-button quaternary>
        <template #icon>
          <n-icon @click="handleEdit">
            <svg-icon name="expand"></svg-icon>
          </n-icon>
        </template>
      </n-button>
    </template>
    <div class="h-[120px]"></div>
    <template #action>
      <div class="flex justify-between items-center">
        <span class="text-sm">{{ timeAgo }}</span>
        <div>
          <n-button class="!mr-4" @click="handleEdit">
            <template #icon>
              <n-icon>
                <svg-icon name="wrench"></svg-icon>
              </n-icon>
            </template>
          </n-button>
          <n-dropdown :options="moreOptions" @select="handleSelect">
            <n-button>
              <template #icon>
                <n-icon>
                  <svg-icon name="ellipsis"></svg-icon>
                </n-icon>
              </template>
            </n-button>
          </n-dropdown>
        </div>
      </div>
    </template>
  </n-card>

  <n-modal v-model:show="editNameDialogShow">
    <n-card title="重命名" class="!w-[500px]">
      <n-input v-model:value="codeName"></n-input>
      <template #footer>
        <div class="text-right">
          <n-button class="!mr-4">取消</n-button>
          <n-button type="primary" @click="handleChangeName">确定</n-button>
        </div>
      </template>
    </n-card>
  </n-modal>
</template>

<script setup lang="ts">
import { h, ref } from 'vue'
import { NIcon, useDialog, useMessage } from 'naive-ui'
import SvgIcon from '@/components/SvgIcon/index.vue'
import { useRouter } from 'vue-router'
import useCodeStore from '@/stores/modules/code'
import { deleteCode, saveCode } from '@/api'
import { useTimeAgo } from '@vueuse/core'

const router = useRouter()
const codeStore = useCodeStore()
const dialog = useDialog()
const message = useMessage()

interface Props {
  data: any
}

const props = defineProps<Props>()

const timeAgo = useTimeAgo(props.data.updatedAt)

interface Emits {
  (e: 'edit', data: any): void

  (e: 'delete', data: any): void
}

const emits = defineEmits<Emits>()

const renderIcon = (name: string) => () =>
  h(NIcon, null, { default: () => h(SvgIcon, { name }) })

const moreOptions = [
  // {
  //   label: '发布',
  //   key: 'publish',
  //   icon: renderIcon('paper-plane-top')
  // },
  {
    label: '重命名',
    key: 'rename',
    icon: renderIcon('pen')
  },
  {
    label: '删除',
    key: 'delete',
    icon: renderIcon('trash')
  }
]

const handleEdit = () => {
  codeStore.html = props.data.html
  codeStore.css = props.data.css
  codeStore.js = props.data.js
  codeStore.name = props.data.name
  router.push({ name: 'editor', params: { id: props.data.url } })
}

const editNameDialogShow = ref(false)
const codeName = ref(props.data.name)
const handleSelect = (key: string) => {
  switch (key) {
    case 'rename':
      editNameDialogShow.value = true
      break
    case 'delete':
      dialog.warning({
        title: '删除项目',
        content: '确定删除该项目吗？',
        positiveText: '确定',
        negativeText: '取消',
        onPositiveClick: () => {
          deleteCode(props.data._id).then(() => {
            message.success('删除成功')
            emits('delete', props.data)
          })
        }
      })
      break
  }
}

const handleChangeName = () => {
  saveCode({ ...props.data, name: codeName.value }).then(() => {
    message.success('修改成功')
    emits('edit', { ...props.data, name: codeName.value })
    editNameDialogShow.value = false
  })
}
</script>

<style lang="scss" scoped></style>
