<template>
  <n-config-provider
    :theme="appStore.isDark ? darkTheme : null"
    :theme-overrides="themeOverrides"
    :locale="zhCN"
    :date-locale="dateZhCN"
    class="h-full"
  >
    <n-message-provider>
      <n-dialog-provider>
        <router-view></router-view>
      </n-dialog-provider>
    </n-message-provider>
  </n-config-provider>
</template>

<script setup lang="ts">
import { darkTheme, zhCN, dateZhCN } from 'naive-ui'
import useAppStore from '@/stores/modules/app'

const appStore = useAppStore()

const themeOverrides = {
  Button: {
    borderRadiusMedium: '6px'
  },
  Menu: {
    borderRadius: '8px'
  },
  Dropdown: {
    borderRadius: '6px'
  },
  Input: {
    borderRadius: '4px'
  },
  Card: {
    borderRadius: '6px'
  },
  Popover: {
    borderRadius: '6px'
  },
  Message: {
    borderRadius: '6px'
  }
}
</script>

<style lang="scss" scoped></style>
