<template>
  <div class="container mx-auto px-10 md:px-40 lg:px-60 xl:px-80">
    <n-form>
      <n-form-item label="用户名">
        <n-input></n-input>
      </n-form-item>
      <n-form-item label="邮箱">
        <n-input></n-input>
      </n-form-item>
      <n-button type="primary">保存</n-button>
    </n-form>
  </div>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped></style>
