<template>
  <div class="w-full h-full flex flex-col md:flex-row">
    <div
      class="w-full lg:w-2/3 md:1/2 h-1/3 md:h-full bg-violet-500 flex justify-center items-center"
    >
      <div class="p-4">
        <h3 class="text-2xl font-bold mb-2 text-white">
          Vite + Vue3 + Pinia + Koa2 + Mongoose
        </h3>
        <p class="text-gray-200">
          这是一个由Vite + Vue3 + Pinia + Koa2 + Mongoose 打造的在线 HTML
          编码平台
        </p>
      </div>
    </div>
    <div
      class="w-full lg:w-1/3 md:1/2 h-2/3 md:h-full flex justify-center items-center"
    >
      <div class="w-2/3">
        <h2 class="text-2xl font-bold text-center mb-5">用户登录</h2>
        <n-config-provider
          :theme="null"
          :theme-overrides="{
            common: { primaryColor: '#8b5cf6' },
            Input: {
              borderHover: '1px solid #8b5cf6',
              borderFocus: '1px solid #8b5cf6'
            }
          }"
        >
          <n-form
            ref="userFormRef"
            :model="userForm"
            :rules="userFormRules"
            label-placement="left"
            label-width="auto"
          >
            <n-form-item label="用户名" path="username">
              <n-input v-model:value="userForm.username"></n-input>
            </n-form-item>
            <n-form-item label="密码" path="password">
              <n-input
                v-model:value="userForm.password"
                type="password"
                show-password-on="click"
              ></n-input>
            </n-form-item>
            <n-form-item>
              <n-button
                type="primary"
                color="#8b5cf6"
                block
                :loading="loading"
                @click="handleLogin"
              >
                登录
              </n-button>
            </n-form-item>
          </n-form>
        </n-config-provider>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { type FormInst, useMessage } from 'naive-ui'
import { login } from '@/api'
import useUserStore from '@/stores/modules/user'
import { useRouter } from 'vue-router'

const userStore = useUserStore()
const message = useMessage()
const router = useRouter()

const userForm = ref({
  username: 'admin',
  password: '123456'
})

const userFormRules = {
  username: {
    required: true,
    message: '请输入用户名',
    trigger: 'blur'
  },
  password: {
    required: true,
    message: '请输入密码',
    trigger: ['blur', 'input']
  }
}

const userFormRef = ref<FormInst | null>(null)
const loading = ref(false)
const handleLogin = () => {
  userFormRef.value?.validate(async (errors) => {
    if (errors) {
      console.log(errors)
    } else {
      loading.value = true
      const { data } = await login(userForm.value).finally(() => {
        loading.value = false
      })
      userStore.setUserInfo(data.user)
      userStore.setToken(data.token)
      await router.push('/')
      message.success('登录成功')
    }
  })
}
</script>

<style lang="scss" scoped></style>
