<template>
  <n-layout-content
    position="absolute"
    :content-style="{
      minHeight: '100%',
      padding: route.name === 'editor' ? '0' : '24px'
    }"
    :native-scrollbar="false"
    class="!top-[60px]"
  >
    <router-view v-slot="{ Component, route }">
      <transition name="fade" mode="out-in">
        <component :is="Component" :key="route.path" />
      </transition>
    </router-view>
  </n-layout-content>
</template>

<script setup lang="ts">
import {} from 'vue'
import { useRoute } from 'vue-router'

const route = useRoute()
</script>

<style lang="scss" scoped>
.fade-leave-active,
.fade-enter-active {
  transition: all 0.5s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
