<template>
  <n-layout-header position="absolute" bordered class="h-[60px]">
    <div class="h-full flex justify-between items-center px-5 lg:px-10 gap-2">
      <div class="flex items-center gap-4 min-w-[300px]">
        <n-popover placement="bottom" trigger="click" class="w-[300px]">
          <template #trigger>
            <n-button v-show="isMobileTerminal" quaternary>
              <template #icon>
                <n-icon>
                  <svg-icon name="bars"></svg-icon>
                </n-icon>
              </template>
            </n-button>
          </template>
          <slot name="menu"></slot>
        </n-popover>
        <n-button type="primary" text @click="router.push('/')">首页</n-button>
      </div>
      <div class="flex items-center">
        <slot name="nav-c"></slot>
      </div>
      <div class="flex justify-end items-center min-w-[300px]">
        <div class="mr-4">
          <slot name="nav-r"></slot>
        </div>
        <n-popover trigger="hover">
          <template #trigger>
            <n-button quaternary>
              <n-icon size="20">
                <svg-icon name="guide"></svg-icon>
              </n-icon>
            </n-button>
          </template>
          <span>功能引导</span>
        </n-popover>
        <n-dropdown
          trigger="hover"
          :options="[
            { label: '中文', key: 'chinese' },
            { label: 'English', key: 'english' }
          ]"
        >
          <n-button quaternary>
            <n-icon size="20">
              <svg-icon name="language"></svg-icon>
            </n-icon>
          </n-button>
        </n-dropdown>
        <n-button quaternary>
          <n-icon size="20" @click="appStore.toggleTheme">
            <svg-icon v-if="!appStore.isDark" name="sun"></svg-icon>
            <svg-icon v-else name="moon"></svg-icon>
          </n-icon>
        </n-button>
        <n-dropdown
          trigger="hover"
          :options="userOptions"
          @select="handleSelect"
        >
          <n-avatar
            round
            :size="24"
            src="https://oyal.oss-cn-beijing.aliyuncs.com/img/202112291703779.png"
            class="mx-2 cursor-pointer"
          />
        </n-dropdown>
      </div>
    </div>
  </n-layout-header>
</template>

<script setup lang="ts">
import { h, watch } from 'vue'
import useAppStore from '@/stores/modules/app'
import { NAvatar } from 'naive-ui'
import { isMobileTerminal, renderIcon } from '@/utils'
import { useRouter } from 'vue-router'
import useUserStore from '@/stores/modules/user'

const appStore = useAppStore()
const router = useRouter()
const userStore = useUserStore()

const renderUserInfo = () => {
  return h(
    'div',
    {
      class: 'flex justify-center items-center px-4 py-2'
    },
    [
      h(NAvatar, {
        round: true,
        size: 24,
        src:
          userStore.userInfo?.avatar ||
          'https://oyal.oss-cn-beijing.aliyuncs.com/img/202112291703779.png',
        class: 'mr-2 cursor-pointer'
      }),
      h(
        'div',
        {
          class: 'dark:text-white text-sm'
        },
        userStore.userInfo?.username
      )
    ]
  )
}

const userOptions = [
  {
    key: 'user',
    type: 'render',
    render: renderUserInfo
  },
  {
    key: 'header-divider',
    type: 'divider'
  },
  {
    label: '用户资料',
    key: 'profile',
    icon: renderIcon('user')
  },
  {
    label: '系统设置',
    key: 'settings',
    icon: renderIcon('gear')
  },
  {
    label: '退出登录',
    key: 'logout',
    icon: renderIcon('right-from-bracket')
  }
]

const handleSelect = (key: string) => {
  switch (key) {
    case 'profile':
      console.log('profile')
      router.push('/settings/profile')
      break
    case 'settings':
      console.log('settings')
      break
    case 'logout':
      userStore.$reset()
      router.push('/login')
      break
  }
}

watch(
  () => appStore.isDark,
  (val) => {
    if (val) {
      document.body.classList.add('dark')
    } else {
      document.body.classList.remove('dark')
    }
  },
  { immediate: true }
)
</script>

<style lang="scss" scoped></style>
