<template>
  <splitpanes horizontal class="!h-[calc(100vh-60px)]" @resize="handleResize">
    <pane>
      <splitpanes class="h-[1/2] px-4 pt-4" @resize="handleResize">
        <pane>
          <div
            class="w-[100px] h-[35px] bg-[#1e1e1e] rounded-t flex items-center gap-2 px-4"
          >
            <n-icon size="20" class="text-red-600">
              <svg-icon name="html5"></svg-icon>
            </n-icon>
            <span class="text-gray-200">HTML</span>
          </div>
          <MonacoEditor
            ref="htmlRef"
            v-model="codeStore.html"
            language="html"
          ></MonacoEditor>
        </pane>
        <pane>
          <div
            class="w-[100px] h-[35px] bg-[#1e1e1e] rounded-t flex items-center gap-2 px-4"
          >
            <n-icon size="20" class="text-sky-600">
              <svg-icon name="css3-alt"></svg-icon>
            </n-icon>
            <span class="text-gray-200">CSS</span>
          </div>
          <MonacoEditor
            ref="cssRef"
            v-model="codeStore.css"
            language="css"
          ></MonacoEditor>
        </pane>
        <pane>
          <div
            class="w-[100px] h-[35px] bg-[#1e1e1e] rounded-t flex items-center gap-2 px-4"
          >
            <n-icon size="20" class="text-yellow-600">
              <svg-icon name="code"></svg-icon>
            </n-icon>
            <span class="text-gray-200">JS</span>
          </div>
          <MonacoEditor
            ref="jsRef"
            v-model="codeStore.js"
            language="javascript"
          ></MonacoEditor>
        </pane>
      </splitpanes>
    </pane>
    <pane>
      <iframe
        :srcdoc="srcdoc"
        class="bg-white"
        width="100%"
        height="100%"
      ></iframe>
    </pane>
  </splitpanes>
</template>

<script setup lang="ts">
import { computed, onBeforeUnmount, ref } from 'vue'
import { Splitpanes, Pane } from 'splitpanes'
import 'splitpanes/dist/splitpanes.css'
import MonacoEditor from '@/components/MonacoEditor/index.vue'
import { useEventListener, useThrottleFn } from '@vueuse/core'
import useCodeStore from '@/stores/modules/code'

const codeStore = useCodeStore()

const htmlRef = ref<InstanceType<typeof MonacoEditor> | null>()
const cssRef = ref<InstanceType<typeof MonacoEditor> | null>()
const jsRef = ref<InstanceType<typeof MonacoEditor> | null>()

const handleResize = useThrottleFn(() => {
  htmlRef.value?.resize()
  cssRef.value?.resize()
  jsRef.value?.resize()
}, 100)

useEventListener(window, 'resize', handleResize)

const srcdoc = computed(() => {
  return `
          <!doctype html>
          <html lang="en">
          <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Document</title>
            <style>${codeStore.css}</style>
          </head>
          <body>
          ${codeStore.html}
          <script>${codeStore.js}<\/script>
          </body>
          </html>
  `
})

onBeforeUnmount(() => {
  codeStore.name = ''
})
</script>

<style lang="scss" scoped>
:deep(.splitpanes__splitter) {
  min-width: 10px;
  min-height: 10px;
}
</style>
