<template>
  <Layout>
    <template #nav-c>
      <n-input
        v-if="editStatus"
        ref="inputRef"
        v-model:value="codeStore.name"
        @blur="editStatus = false"
      ></n-input>
      <span v-else>{{ codeStore.name || 'Untitled' }}</span>
      <n-icon class="ml-2 cursor-pointer" @click="handleEditName">
        <svg-icon name="pen"></svg-icon>
      </n-icon>
    </template>
    <template #nav-r>
      <n-button @click="handleSave">保存</n-button>
    </template>
  </Layout>
</template>

<script setup lang="ts">
import { nextTick, ref } from 'vue'
import Layout from '@/layout/index.vue'
import { useRoute } from 'vue-router'
import useCodeStore from '@/stores/modules/code'
import { saveCode } from '@/api'
import { type NInput, useMessage } from 'naive-ui'

const route = useRoute()
const codeStore = useCodeStore()
const message = useMessage()

const handleSave = async () => {
  saveCode({
    name: codeStore.name || 'Untitled',
    url: route.params.id,
    html: codeStore.html,
    css: codeStore.css,
    js: codeStore.js
  }).then(() => {
    message.success('保存成功')
  })
}

const editStatus = ref(false)
const inputRef = ref<InstanceType<typeof NInput>>()
const handleEditName = () => {
  editStatus.value = true
  nextTick(() => {
    inputRef.value?.focus()
  })
}
</script>

<style lang="scss" scoped></style>
