<template>
  <Layout>
    <template #sidebar>
      <Sidebar></Sidebar>
    </template>
  </Layout>
</template>

<script setup lang="ts">
import Layout from '@/layout/index.vue'
import Sidebar from './Sidebar.vue'
</script>

<style lang="scss" scoped></style>
