<template>
  <n-layout-sider
    v-show="!isMobileTerminal"
    content-style="height: 100%;"
    :native-scrollbar="false"
    bordered
    show-trigger="bar"
    :width="270"
    :collapsed-width="0"
    embedded
  >
    <div class="h-full flex flex-col justify-between">
      <div>
        <div class="flex justify-center my-10">
          <n-button type="primary" ghost @click="handleCreate">
            <template #icon>
              <n-icon size="18">
                <svg-icon name="new"></svg-icon>
              </n-icon>
            </template>
            新建
          </n-button>
        </div>
        <n-menu :options="menuOptions" :value="menuValue" />
      </div>
      <div class="pb-6">
        <n-divider />
        <div class="flex justify-around items-center">
          <n-button>仓库地址</n-button>
          <n-button>仓库地址</n-button>
        </div>
      </div>
    </div>
  </n-layout-sider>
</template>

<script setup lang="ts">
import { computed, h } from 'vue'
import { useRoute, RouterLink } from 'vue-router'
import { renderIcon, isMobileTerminal } from '@/utils'

const route = useRoute()
const menuValue = computed(() => route.name as string)

const menuOptions = [
  {
    key: 'divider-1',
    type: 'divider'
  },
  {
    label: () =>
      h(RouterLink, { to: '/settings/profile' }, { default: () => '个人资料' }),
    key: 'profile',
    icon: renderIcon('user')
  },
  {
    label: () =>
      h(
        RouterLink,
        { to: '/settings/preferences' },
        { default: () => '偏好设置' }
      ),
    key: 'preferences',
    icon: renderIcon('circle-heart')
  }
]

const handleCreate = () => {
  const url = Math.random().toString(36).substring(2)
  window.open(`/editor/${url}`)
}
</script>

<style lang="scss" scoped></style>
