<template>
  <div ref="editorRef" class="w-full h-full"></div>
</template>

<script setup lang="ts">
import { onBeforeUnmount, onMounted, ref } from 'vue'
import * as monaco from 'monaco-editor'
import editorWorker from 'monaco-editor/esm/vs/editor/editor.worker?worker'
import jsonWorker from 'monaco-editor/esm/vs/language/json/json.worker?worker'
import cssWorker from 'monaco-editor/esm/vs/language/css/css.worker?worker'
import htmlWorker from 'monaco-editor/esm/vs/language/html/html.worker?worker'
import tsWorker from 'monaco-editor/esm/vs/language/typescript/ts.worker?worker'

self.MonacoEnvironment = {
  getWorker(_, label) {
    if (label === 'json') {
      return new jsonWorker()
    }
    if (label === 'css' || label === 'scss' || label === 'less') {
      return new cssWorker()
    }
    if (label === 'html' || label === 'handlebars' || label === 'razor') {
      return new htmlWorker()
    }
    if (label === 'typescript' || label === 'javascript') {
      return new tsWorker()
    }
    return new editorWorker()
  }
}

interface Props {
  modelValue: string
  language?: string
}

const props = defineProps<Props>()

interface Emit {
  (event: 'update:modelValue', value: string): void

  (event: 'change', value: string): void

  (event: 'blur'): void
}

const emit = defineEmits<Emit>()

const editorRef = ref<HTMLElement | null>(null)
let editor: monaco.editor.IStandaloneCodeEditor

onMounted(() => {
  editor = monaco.editor.create(editorRef.value!, {
    value: props.modelValue,
    language: props.language,
    theme: 'vs-dark'
  })

  editor.onDidChangeModelContent(() => {
    emit('update:modelValue', editor.getValue())
    emit('change', editor.getValue())
  })
  editor.onDidBlurEditorText(() => {
    emit('blur')
  })
})

const setValue = (value: string) => {
  editor.setValue(value)
}

const resize = () => {
  editor.layout()
}

defineExpose({
  setValue,
  resize
})

onBeforeUnmount(() => {
  setValue('')
})
</script>

<style lang="scss" scoped></style>
