<template>
  <n-layout has-sider class="h-full">
    <slot name="sidebar"></slot>
    <n-layout>
      <Navbar>
        <template #menu>
          <slot name="menu"></slot>
        </template>
        <template #nav-c>
          <slot name="nav-c"></slot>
        </template>
        <template #nav-r>
          <slot name="nav-r"></slot>
        </template>
      </Navbar>
      <AppMain></AppMain>
    </n-layout>
  </n-layout>
</template>

<script setup lang="ts">
import Navbar from './components/Navbar.vue'
import AppMain from './components/AppMain.vue'
</script>

<style lang="scss" scoped></style>
