<template>
  <div class="h-full font-bold">
    <n-grid
      :x-gap="16"
      :y-gap="16"
      cols="1 s:2 m:3 l:4 xl:4 xxl:4"
      responsive="screen"
    >
      <n-grid-item v-for="item in codeList" :key="item._id">
        <ProjectItem :data="item" @edit="handleEdit" @delete="handleDelete" />
      </n-grid-item>
    </n-grid>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import ProjectItem from './components/ProjectItem.vue'
import { getAllCodes } from '@/api'

const codeList = ref<any[]>([])
const getCodeList = async () => {
  const { data } = await getAllCodes()
  codeList.value = data
}
getCodeList()

const handleEdit = (data: any) => {
  codeList.value = codeList.value.map((item: any) => {
    if (item._id === data._id) {
      return data
    }
    return item
  })
}

const handleDelete = (data: any) => {
  codeList.value = codeList.value.filter((item: any) => item._id !== data._id)
}
</script>
